In [88]:
import pandas as pd
# df = pd.read_csv('pokemon_data.csv')
# print(df)
# print(df.head(3))
# print(df.tail(3))

# df_xlsx= pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.tail(3))

# df_txt = pd.read_csv('pokemon_data.txt',delimiter = '\t')
# print(df_txt)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [51]:
## Read Headers
# print(df.columns)

## Read Each Column
# print(df['Name'][0:5])
# print(df.Name[0:5])

## Multiple Columns
# print(df[['Name','Type 1','HP']][0:5])

## Read Each Row
# print(df.head(4))
# print(df.iloc[1:4])
# for index,row in df.iterrows():
#     # print(index,row)
#     print(index,row['Name'])
# df.loc[df['Type 1'] == 'Rock']
## read Specific location
# print(df.iloc[1:4,1:3])

### Sorting/Describe  Data

In [74]:
# df.describe()
# df.sort_values('Name',ascending = True)
# df.sort_values('Name',ascending = False)

# Multiple Columns
# df.sort_values(['Name','HP'],ascending = False)
# df.sort_values(['Name','HP'],ascending = [0,1])

### Making Changes to the Data

In [87]:
# df.head(5)
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] +df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

### Pandas Series

In [8]:
import pandas as pd
s = pd.Series([1,2,3])
print(s)
q = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(q)

0    1
1    2
2    3
dtype: int64
a    10
b    20
c    30
dtype: int64

### Dataframe Basics

In [17]:
# data = {
#     'Name' : ['Pramod','Gaurav','Kanha'],
#     'Age' : [31,22,5],
#     'City': ['Jalgaon','Dahanu','Nashik']
# }
# df = pd.DataFrame(data)
# print(df)

student = {
    'Name' : ['Kanha','Don','Damodar','Radhe','Savaliya'],
    'Subject' : ['Maths','Geogrpahy','English','Marathi','Hindi'],
    'Marks' : [80,100,90,110,50]
}
df = pd.DataFrame(student)
print(df1)

# Try accessing columns: df['Name']
print(df1['Name'])

       Name    Subject  Marks
0     Kanha      Maths     80
1       Don  Geogrpahy    100
2   Damodar    English     90
3     Radhe    Marathi    110
4  Savaliya      Hindi     50
0       Kanha
1         Don
2     Damodar
3       Radhe
4    Savaliya
Name: Name, dtype: object

In [16]:
# 3. head() and tail()

In [29]:
# df.head(3)
# df.tail(2)
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Subject  5 non-null      object
 2   Marks    5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

            Marks
count    5.000000
mean    86.000000
std     23.021729
min     50.000000
25%     80.000000
50%     90.000000
75%    100.000000
max    110.000000