### Project-1 IPL

### Topic-1 Import IPL Dataset.

In [37]:
import pandas as pd
df = pd.read_csv("Data/IPL_Sample.csv")
print(type(df))
df.head(6)

<class 'pandas.core.frame.DataFrame'>

,Match_ID,Player,Runs,Balls,4s,6s,StrikeRate,Team,Opponent,Venue,Date
0,1,Virat Kohli,45,35,5,1,128.5,RCB,MI,Wankhede,2008-04-18
1,1,Rohit Sharma,30,28,4,0,107.1,MI,RCB,Wankhede,2008-04-18
2,2,MS Dhoni,60,40,6,2,150.0,CSK,KKR,Chepauk,2008-04-19
3,2,Suresh Raina,25,22,3,1,113.6,CSK,KKR,Chepauk,2008-04-19
4,3,AB de Villiers,75,50,8,3,150.0,RCB,DC,Chinnaswamy,2008-04-20
5,3,Chris Gayle,10,15,2,1,66.7,RCB,DC,Chinnaswamy,2008-04-20

### Topic 2: Exploring the Dataset.

In [34]:
print(df.head())
print(df.shape)
print(df.info())
print(df.describe())

   Match_ID          Player  Runs  Balls  4s  6s  StrikeRate Team Opponent  \
0         1     Virat Kohli    45     35   5   1       128.0  RCB       MI
1         1    Rohit Sharma    30     28   4   0       107.0   MI      RCB
2         2        MS Dhoni    60     40   6   2       150.0  CSK      KKR
3         2    Suresh Raina    25     22   3   1       113.0  CSK      KKR
4         3  AB de Villiers    75     50   8   3       150.0  RCB       DC

         Venue       Date
0     Wankhede 2008-04-18
1     Wankhede 2008-04-18
2      Chepauk 2008-04-19
3      Chepauk 2008-04-19
4  Chinnaswamy 2008-04-20
(6, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Match_ID    6 non-null      int64
 1   Player      6 non-null      object
 2   Runs        6 non-null      int64
 3   Balls       6 non-null      int64
 4   4s          6 non-null      int64
 5   6s          6 non-null      int64
 6   StrikeRate  6 non-null      float64
 7   Team        6 non-null      object
 8   Opponent    6 non-null      object
 9   Venue       6 non-null      object
 10  Date        6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 660.0+ bytes
None
       Match_ID       Runs      Balls        4s        6s  StrikeRate  \
count  6.000000   6.000000   6.000000  6.000000  6.000000    6.000000
mean   2.000000  40.833333  31.666667  4.666667  1.333333  119.000000
min    1.000000  10.000000  15.000000  2.000000  0.000000   66.000000
25%    1.250000  26.250000  23.500000  3.250000  1.000000  108.500000
50%    2.000000  37.500000  31.500000  4.500000  1.000000  120.500000
75%    2.750000  56.250000  38.750000  5.750000  1.750000  144.500000
max    3.000000  75.000000  50.000000  8.000000  3.000000  150.000000
std    0.894427  23.961775  12.659647  2.160247  1.032796   31.597468

                      Date
count                    6
mean   2008-04-19 00:00:00
min    2008-04-18 00:00:00
25%    2008-04-18 06:00:00
50%    2008-04-19 00:00:00
75%    2008-04-19 18:00:00
max    2008-04-20 00:00:00
std                    NaN

### Topic 3: Identify important columns

In [23]:
# Step 1: Check column names
print(df.columns)
# Step 2: What does each column mean?
# Step 3: Identify “Key Columns” for Analysis

Index(['Match_ID', 'Player', 'Runs', 'Balls', '4s', '6s', 'StrikeRate', 'Team',
       'Opponent', 'Venue', 'Date'],
      dtype='object')

### Topic 4: Handling missing values

In [43]:
# Step 1: Check for missing values
#print(df.isna().sum())

# Step 2: Decide how to handle missing values
# Removes entire row if any value is missing.
print(df.dropna()) 

# Step 3 : Fill missing values
#df["Runs"].fillna(0,inplace=True)
# df['StrikeRate'].fillna(df['StrikeRate'].mean(),inplace=True)

# Step 3: Verify again
print(df.isna().sum())

   Match_ID          Player  Runs  Balls  4s  6s  StrikeRate Team Opponent  \
0         1     Virat Kohli    45     35   5   1       128.5  RCB       MI
1         1    Rohit Sharma    30     28   4   0       107.1   MI      RCB
2         2        MS Dhoni    60     40   6   2       150.0  CSK      KKR
3         2    Suresh Raina    25     22   3   1       113.6  CSK      KKR
4         3  AB de Villiers    75     50   8   3       150.0  RCB       DC
5         3     Chris Gayle    10     15   2   1        66.7  RCB       DC

         Venue        Date
0     Wankhede  2008-04-18
1     Wankhede  2008-04-18
2      Chepauk  2008-04-19
3      Chepauk  2008-04-19
4  Chinnaswamy  2008-04-20
5  Chinnaswamy  2008-04-20
Match_ID      0
Player        0
Runs          0
Balls         0
4s            0
6s            0
StrikeRate    0
Team          0
Opponent      0
Venue         0
Date          0
dtype: int64

### Topic 5: Fix Column Datatypes

In [ ]:
# Step 1: Check current datatypes
print(df.dtypes)
# Step 2: Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])
df["Runs"] = df["Runs"].astype(int)
print(df.dtypes)
df["StrikeRate"] = df["StrikeRate"].astype(float)
print(df.dtypes)

### Topic 6: Remove duplicates

In [26]:
# Step 1: Check if duplicates exist
df.duplicated().sum()
# Step 2: View duplicate rows (optional)
df[df.duplicated()]
# Step 3: Remove duplicates
df = df.drop_duplicates()
# Step 4: Verify again
df.duplicated().sum()

0