In [3]:
#List
friends = ['Sagar','Rahul','Pratik',1,2,3]
print(friends[1])
friends[1] = 'Dahul'
print(friends[1])
#O/p
# Rahul
# Dahul

Rahul
Dahul

In [17]:
# Slicing
friends = ['Sagar','Rahul','Pratik',1,2,3]
print(friends[0:3])
print(friends[-4:1])
#O/p
# ['Sagar', 'Rahul', 'Pratik']
# ['Pratik', 1, 2, 3]

['Sagar', 'Rahul', 'Pratik']
[]

In [59]:
# Sort,Reverse,Append,Insert
l1 = [1,56,4,70,43,12,23]
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.append(50)
print(l1)
l1.insert(2,100)
print(l1)
# Pop
l1.pop(2)
print(l1)
# Remove
l1.remove(70)
print(l1)

[1, 4, 12, 23, 43, 56, 70]
[70, 56, 43, 23, 12, 4, 1]
[70, 56, 43, 23, 12, 4, 1, 50]
[70, 56, 100, 43, 23, 12, 4, 1, 50]
[70, 56, 43, 23, 12, 4, 1, 50]
[56, 43, 23, 12, 4, 1, 50]

In [58]:
#Tuple Can not modify values
t = (1,5,78,1,45,67,1)
print(t[0])
# Declaration of Tuple
t1 = ()
print(t1)  # ()
t2 = (1)
print(t2)   # ()
t3 = (1,)
print(t3)  # (1,)
# Methods
print(t.count(1))
print(t.index(67))
t1 = ()
print(t1)

1
()
1
(1,)
3
5
()

# Practice_1
# Enter 7 fruits in list
f1 = input("Enter fruit number 1 : ")
f2 = input("Enter fruit number 2 : ")
f3 = input("Enter fruit number 3 : ")
f4 = input("Enter fruit number 4 : ")
f5 = input("Enter fruit number 5 : ")
f6 = input("Enter fruit number 6 : ")
f7 = input("Enter fruit number 7 : ")
myfruitList = [f1,f2,f3,f4,f5,f6,f7]
print(myfruitList)

In [61]:
# Sorting Marks
marks1 = int(input("Enter Marks 1 : "))
marks2 = int(input("Enter Marks 2 : "))
marks3 = int(input("Enter Marks 3 : "))
marks4 = int(input("Enter Marks 4 : "))
marks5 = int(input("Enter Marks 5 : "))
marks6 = int(input("Enter Marks 6 : "))
marks7 = int(input("Enter Marks 7 : "))
marks = [marks1,marks2,marks3,marks4,marks5,marks6,marks7]
print(marks)
marks.sort()
print(marks)

Enter Marks 1 :  2
Enter Marks 2 :  3
Enter Marks 3 :  4
Enter Marks 4 :  5
Enter Marks 5 :  6
Enter Marks 6 :  8
Enter Marks 7 :  6

[2, 3, 4, 5, 6, 8, 6]
[2, 3, 4, 5, 6, 6, 8]

In [66]:
# Sum of numbers in List
num = [1,4,6,8,9]
print(sum(num))
print(max(num))

28
9

In [64]:
# Count number of Zeroes in Tuple
t = (1,4,0,6,8,90,0,76,0)
print(t.count(0))

3

In [ ]:
# Remove all duplicate elements in list
num = [1,2,3,4,5,6,7]
unique = []
for item in num:
    if item not in unique:
        num.append(item)
print(num)