In [5]:
# Tuple
# Immutable
tuple = (1,2,3,4)
print(tuple[2])
# tuple[2] = 10
# print(tuple[2])

3

In [12]:
# Sets
# Duplicates not allowed
set = {1,2,3,4,5,5,6}
print(set)
set1 = {1,2,3}
set2 = {3,4,5}
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [24]:
# Dictionary
dict = {
    "name" : "Pramod",
    "age"  : 25,
    "School" : "PABV"
} 
print(dict["name"])
print(dict["age"])
# Pramod
# 25

dict["name"] = "Rahul"
dict["age"] = "30"
print(dict)
# {'name': 'Rahul', 'age': '30', 'School': 'PABV'}
for key, value in dict.items():
    print(key, ":", value)
# name : Rahul
# age : 30
# School : PABV

Pramod
25
{'name': 'Rahul', 'age': '30', 'School': 'PABV'}
name : Rahul
age : 30
School : PABV

In [29]:
# Write program that stores 3 fruits in a tuple and prints each one on a new line using a for loop.
tuple = (1,)
fruit1 = input("Enter first fruit : ")
fruit2 = input("Enter second fruit : ")
fruit3 = input("Enter third fruit : ")
tuple = (fruit1,fruit2,fruit3)
print(tuple)
for item in tuple:
    print(item)

Enter first fruit :  orange
Enter second fruit :  banana
Enter third fruit :  apple

('orange', 'banana', 'apple')
orange
banana
apple

In [40]:
# Create a set with duplicate numbers, remove duplicates, and print the final set.
num1 = int(input("Enter first number :"))
num2 = int(input("Enter Second  number :"))
num3 = int(input("Enter third number :"))
num4 = int(input("Enter fourth number :"))
num5 = int(input("Enter Duplicate number :"))
numbers = [num1,num2,num3,num4,num5]
print(f"All Elements : {numbers}")
unique = set(numbers)
print(f"All Elements : {unique}")

Enter first number : 1
Enter Second  number : 2
Enter third number : 3
Enter fourth number : 4
Enter Duplicate number : 4

All Elements : [1, 2, 3, 4, 4]

TypeError: 'set' object is not callable

In [46]:
# Create a dictionary of 3 employees (name as key, salary as value).
# Print:
# Each name with salary
# Total salary of all employees
employee = {
    "Rahul" : 10000,
    "Pratik" : 20000,
    "Pramod": 0
}
sum = 0
for key,value in employee.items():
    print(key," : ",value)
    sum = sum + value
print(sum)

Rahul  :  10000
Pratik  :  20000
Pramod  :  0
30000